--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.audit_events (
    id character varying NOT NULL,
    actor_user_id character varying NOT NULL,
    tenant_id character varying NOT NULL,
    action character varying NOT NULL,
    resource_type character varying NOT NULL,
    resource_id character varying NOT NULL,
    result character varying NOT NULL,
    metadata_json json,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.audit_events OWNER TO finsecai;

--
-- Name: authoritative_labels; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.authoritative_labels (
    id character varying NOT NULL,
    tenant_id character varying NOT NULL,
    incident_id character varying NOT NULL,
    label character varying NOT NULL,
    label_source character varying NOT NULL,
    model_version_at_incident character varying NOT NULL,
    feature_values json NOT NULL,
    feature_contributions json NOT NULL,
    amount double precision NOT NULL,
    transaction_type character varying NOT NULL,
    labelled_by character varying NOT NULL,
    labelled_at timestamp without time zone NOT NULL
);


ALTER TABLE public.authoritative_labels OWNER TO finsecai;

--
-- Name: dataset_versions; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.dataset_versions (
    id character varying NOT NULL,
    tenant_id character varying,
    source_type character varying NOT NULL,
    source_name character varying NOT NULL,
    source_url character varying NOT NULL,
    can_be_production boolean NOT NULL,
    environment character varying NOT NULL,
    record_count integer NOT NULL,
    positive_count integer NOT NULL,
    negative_count integer NOT NULL,
    schema_hash character varying NOT NULL,
    feature_version character varying NOT NULL,
    storage_path character varying NOT NULL,
    manifest json NOT NULL,
    created_at timestamp without time zone NOT NULL,
    created_by character varying NOT NULL
);


ALTER TABLE public.dataset_versions OWNER TO finsecai;

--
-- Name: evaluation_runs; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.evaluation_runs (
    id character varying NOT NULL,
    model_version_id character varying NOT NULL,
    dataset_version_id character varying NOT NULL,
    threshold double precision NOT NULL,
    sample_count integer NOT NULL,
    positive_count integer NOT NULL,
    negative_count integer NOT NULL,
    "precision" double precision NOT NULL,
    recall double precision NOT NULL,
    f1 double precision NOT NULL,
    roc_auc double precision NOT NULL,
    pr_auc double precision NOT NULL,
    confusion_matrix json NOT NULL,
    status character varying NOT NULL,
    started_at timestamp without time zone NOT NULL,
    completed_at timestamp without time zone NOT NULL
);


ALTER TABLE public.evaluation_runs OWNER TO finsecai;

--
-- Name: evidence_chunks; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.evidence_chunks (
    id character varying NOT NULL,
    tenant_id character varying NOT NULL,
    source character varying NOT NULL,
    framework_id character varying NOT NULL,
    text text NOT NULL,
    embedding double precision[]
);


ALTER TABLE public.evidence_chunks OWNER TO finsecai;

--
-- Name: feedback; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.feedback (
    id character varying NOT NULL,
    incident_id character varying NOT NULL,
    analyst_email character varying NOT NULL,
    label character varying NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.feedback OWNER TO finsecai;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.incidents (
    id character varying NOT NULL,
    tenant_id character varying NOT NULL,
    user_id character varying NOT NULL,
    amount double precision NOT NULL,
    transaction_type character varying NOT NULL,
    device_id character varying NOT NULL,
    risk_score double precision NOT NULL,
    anomaly_score double precision NOT NULL,
    created_at timestamp without time zone NOT NULL,
    confidence double precision,
    evidence_coverage double precision,
    explanation text,
    limitations text,
    governance_flags character varying,
    raw_payload json,
    normalization_metadata json,
    mitre_techniques character varying,
    nist_controls character varying,
    analysis_json json,
    str_filed_at timestamp without time zone,
    str_reference character varying
);


ALTER TABLE public.incidents OWNER TO finsecai;

--
-- Name: ml_prediction_audit; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.ml_prediction_audit (
    id character varying NOT NULL,
    tenant_id character varying NOT NULL,
    incident_id character varying NOT NULL,
    model_version character varying NOT NULL,
    risk_score double precision NOT NULL,
    anomaly_score double precision NOT NULL,
    confidence double precision NOT NULL,
    feature_values json NOT NULL,
    feature_contributions json NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.ml_prediction_audit OWNER TO finsecai;

--
-- Name: model_versions; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.model_versions (
    id character varying NOT NULL,
    dataset_version_id character varying NOT NULL,
    feature_version character varying NOT NULL,
    training_code_sha character varying NOT NULL,
    params json NOT NULL,
    artifact_hash character varying NOT NULL,
    artifact_path character varying NOT NULL,
    environment character varying NOT NULL,
    production_type character varying,
    status character varying NOT NULL,
    metrics json NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.model_versions OWNER TO finsecai;

--
-- Name: report_jobs; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.report_jobs (
    id character varying NOT NULL,
    tenant_id character varying NOT NULL,
    incident_id character varying,
    status character varying NOT NULL,
    file_path character varying,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.report_jobs OWNER TO finsecai;

--
-- Name: suspicious_transaction_reports; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.suspicious_transaction_reports (
    id character varying NOT NULL,
    tenant_id character varying NOT NULL,
    incident_id character varying NOT NULL,
    narrative text NOT NULL,
    status character varying NOT NULL,
    created_by_user_id character varying NOT NULL,
    submitted_at timestamp without time zone,
    submission_reference character varying,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.suspicious_transaction_reports OWNER TO finsecai;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.tenants (
    id character varying NOT NULL,
    name character varying NOT NULL,
    description character varying NOT NULL
);


ALTER TABLE public.tenants OWNER TO finsecai;

--
-- Name: users; Type: TABLE; Schema: public; Owner: finsecai
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    role character varying NOT NULL,
    tenant_id character varying NOT NULL
);


ALTER TABLE public.users OWNER TO finsecai;

--
-- Data for Name: audit_events; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.audit_events (id, actor_user_id, tenant_id, action, resource_type, resource_id, result, metadata_json, created_at) FROM stdin;
\.


--
-- Data for Name: authoritative_labels; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.authoritative_labels (id, tenant_id, incident_id, label, label_source, model_version_at_incident, feature_values, feature_contributions, amount, transaction_type, labelled_by, labelled_at) FROM stdin;
\.


--
-- Data for Name: dataset_versions; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.dataset_versions (id, tenant_id, source_type, source_name, source_url, can_be_production, environment, record_count, positive_count, negative_count, schema_hash, feature_version, storage_path, manifest, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: evaluation_runs; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.evaluation_runs (id, model_version_id, dataset_version_id, threshold, sample_count, positive_count, negative_count, "precision", recall, f1, roc_auc, pr_auc, confusion_matrix, status, started_at, completed_at) FROM stdin;
\.


--
-- Data for Name: evidence_chunks; Type: TABLE DATA; Schema: public; Owner: finsecai
--



--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.feedback (id, incident_id, analyst_email, label, created_at) FROM stdin;
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: finsecai
--



--
-- Data for Name: ml_prediction_audit; Type: TABLE DATA; Schema: public; Owner: finsecai
--



--
-- Data for Name: model_versions; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.model_versions (id, dataset_version_id, feature_version, training_code_sha, params, artifact_hash, artifact_path, environment, production_type, status, metrics, created_at) FROM stdin;
\.


--
-- Data for Name: report_jobs; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.report_jobs (id, tenant_id, incident_id, status, file_path, created_at) FROM stdin;
\.


--
-- Data for Name: suspicious_transaction_reports; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.suspicious_transaction_reports (id, tenant_id, incident_id, narrative, status, created_by_user_id, submitted_at, submission_reference, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.tenants (id, name, description) FROM stdin;
66943c01-6c6f-4336-95df-463991bc7396	Acme Corp	Default demo tenant
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: finsecai
--

COPY public.users (id, email, hashed_password, role, tenant_id) FROM stdin;
95b7da4e-9af9-4c3f-89d2-3a0d0917ea60	analyst@acme.test	$5$rounds=535000$mK5y0MhbdseXHSZp$M0JoJZ1zYkKMXxqUD/2wSqlkC5OqoY9pAW63skCs7.8	analyst	66943c01-6c6f-4336-95df-463991bc7396
\.


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_pkey PRIMARY KEY (id);


--
-- Name: authoritative_labels authoritative_labels_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.authoritative_labels
    ADD CONSTRAINT authoritative_labels_pkey PRIMARY KEY (id);


--
-- Name: dataset_versions dataset_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.dataset_versions
    ADD CONSTRAINT dataset_versions_pkey PRIMARY KEY (id);


--
-- Name: evaluation_runs evaluation_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.evaluation_runs
    ADD CONSTRAINT evaluation_runs_pkey PRIMARY KEY (id);


--
-- Name: evidence_chunks evidence_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.evidence_chunks
    ADD CONSTRAINT evidence_chunks_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: ml_prediction_audit ml_prediction_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.ml_prediction_audit
    ADD CONSTRAINT ml_prediction_audit_pkey PRIMARY KEY (id);


--
-- Name: model_versions model_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.model_versions
    ADD CONSTRAINT model_versions_pkey PRIMARY KEY (id);


--
-- Name: report_jobs report_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.report_jobs
    ADD CONSTRAINT report_jobs_pkey PRIMARY KEY (id);


--
-- Name: suspicious_transaction_reports suspicious_transaction_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.suspicious_transaction_reports
    ADD CONSTRAINT suspicious_transaction_reports_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_name_key; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_name_key UNIQUE (name);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_events_action; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_audit_events_action ON public.audit_events USING btree (action);


--
-- Name: ix_audit_events_actor_user_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_audit_events_actor_user_id ON public.audit_events USING btree (actor_user_id);


--
-- Name: ix_audit_events_created_at; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_audit_events_created_at ON public.audit_events USING btree (created_at);


--
-- Name: ix_audit_events_tenant_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_audit_events_tenant_id ON public.audit_events USING btree (tenant_id);


--
-- Name: ix_authoritative_labels_incident_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE UNIQUE INDEX ix_authoritative_labels_incident_id ON public.authoritative_labels USING btree (incident_id);


--
-- Name: ix_authoritative_labels_label; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_authoritative_labels_label ON public.authoritative_labels USING btree (label);


--
-- Name: ix_authoritative_labels_model_version_at_incident; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_authoritative_labels_model_version_at_incident ON public.authoritative_labels USING btree (model_version_at_incident);


--
-- Name: ix_authoritative_labels_tenant_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_authoritative_labels_tenant_id ON public.authoritative_labels USING btree (tenant_id);


--
-- Name: ix_dataset_versions_source_type; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_dataset_versions_source_type ON public.dataset_versions USING btree (source_type);


--
-- Name: ix_dataset_versions_tenant_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_dataset_versions_tenant_id ON public.dataset_versions USING btree (tenant_id);


--
-- Name: ix_evaluation_runs_dataset_version_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_evaluation_runs_dataset_version_id ON public.evaluation_runs USING btree (dataset_version_id);


--
-- Name: ix_evaluation_runs_model_version_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_evaluation_runs_model_version_id ON public.evaluation_runs USING btree (model_version_id);


--
-- Name: ix_evidence_chunks_tenant_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_evidence_chunks_tenant_id ON public.evidence_chunks USING btree (tenant_id);


--
-- Name: ix_incidents_tenant_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_incidents_tenant_id ON public.incidents USING btree (tenant_id);


--
-- Name: ix_ml_prediction_audit_created_at; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_ml_prediction_audit_created_at ON public.ml_prediction_audit USING btree (created_at);


--
-- Name: ix_ml_prediction_audit_incident_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_ml_prediction_audit_incident_id ON public.ml_prediction_audit USING btree (incident_id);


--
-- Name: ix_ml_prediction_audit_model_version; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_ml_prediction_audit_model_version ON public.ml_prediction_audit USING btree (model_version);


--
-- Name: ix_ml_prediction_audit_tenant_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_ml_prediction_audit_tenant_id ON public.ml_prediction_audit USING btree (tenant_id);


--
-- Name: ix_model_versions_dataset_version_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_model_versions_dataset_version_id ON public.model_versions USING btree (dataset_version_id);


--
-- Name: ix_suspicious_transaction_reports_incident_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_suspicious_transaction_reports_incident_id ON public.suspicious_transaction_reports USING btree (incident_id);


--
-- Name: ix_suspicious_transaction_reports_status; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_suspicious_transaction_reports_status ON public.suspicious_transaction_reports USING btree (status);


--
-- Name: ix_suspicious_transaction_reports_tenant_id; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE INDEX ix_suspicious_transaction_reports_tenant_id ON public.suspicious_transaction_reports USING btree (tenant_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: finsecai
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: audit_events audit_events_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id);


--
-- Name: audit_events audit_events_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: authoritative_labels authoritative_labels_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.authoritative_labels
    ADD CONSTRAINT authoritative_labels_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: authoritative_labels authoritative_labels_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.authoritative_labels
    ADD CONSTRAINT authoritative_labels_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: dataset_versions dataset_versions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.dataset_versions
    ADD CONSTRAINT dataset_versions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: evaluation_runs evaluation_runs_dataset_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.evaluation_runs
    ADD CONSTRAINT evaluation_runs_dataset_version_id_fkey FOREIGN KEY (dataset_version_id) REFERENCES public.dataset_versions(id);


--
-- Name: evaluation_runs evaluation_runs_model_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.evaluation_runs
    ADD CONSTRAINT evaluation_runs_model_version_id_fkey FOREIGN KEY (model_version_id) REFERENCES public.model_versions(id);


--
-- Name: evidence_chunks evidence_chunks_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.evidence_chunks
    ADD CONSTRAINT evidence_chunks_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: feedback feedback_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: incidents incidents_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: ml_prediction_audit ml_prediction_audit_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.ml_prediction_audit
    ADD CONSTRAINT ml_prediction_audit_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: ml_prediction_audit ml_prediction_audit_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.ml_prediction_audit
    ADD CONSTRAINT ml_prediction_audit_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: model_versions model_versions_dataset_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.model_versions
    ADD CONSTRAINT model_versions_dataset_version_id_fkey FOREIGN KEY (dataset_version_id) REFERENCES public.dataset_versions(id);


--
-- Name: report_jobs report_jobs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.report_jobs
    ADD CONSTRAINT report_jobs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: suspicious_transaction_reports suspicious_transaction_reports_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.suspicious_transaction_reports
    ADD CONSTRAINT suspicious_transaction_reports_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id);


--
-- Name: suspicious_transaction_reports suspicious_transaction_reports_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.suspicious_transaction_reports
    ADD CONSTRAINT suspicious_transaction_reports_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: suspicious_transaction_reports suspicious_transaction_reports_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.suspicious_transaction_reports
    ADD CONSTRAINT suspicious_transaction_reports_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finsecai
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- PostgreSQL database dump complete
--

